@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Great+Vibes&family=Poppins:wght@300;400&family=Roboto&display=swap');

:root {
    --main-bg-color: #04698b;
    --font1: 'Poppins', sans-serif;
    --font2: 'Roboto', sans-serif;
    --font3: 'Baloo 2', cursive;
    
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}
.font3{
    font-family: var(--font3);
}
.maxwidth-0 {
    max-width: 100vw;
}
.maxwidth-1 {
    max-width: 80vw;
}

.maxwidth-2 {
    max-width: 50vw;
}

.m-auto {
    margin: auto;
}
.mg-2{
    margin-top: 5vh;
    margin-bottom: 15vh;
}
.mg-3{
    margin-top: 5vh;
    margin-bottom: 30vh;
}
.mg-lr{
    margin: 0px 80px;
}
.color-1{
    color:white;
}
.form-input {
    padding: 1px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0px 13px;
    font-family: var(--font1);
}

.btn {
    padding: 4px 6px;
    margin: 0px 9px;
    border: 2px solid rgb(190 198 198);
    border-radius: 18px;
    font-family: var(--font1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 1px 1px 2px 1px #04698b;
    font-weight: 500;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.btn:hover {
    color: white;
    background-color: var(--main-bg-color);


}